<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".camera.ZMCameraActivity"
            android:exported="true"
            />

        <activity
            android:name=".camera.ImagePreviewActivity"
            android:exported="true"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ziylanmedya.camera.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>